.container {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #fff;
}

input {
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    max-width: 300px;
    width: 60%;
    font-size: 1.2rem;
    outline: none;
    margin-top: 30px;

}

button {
    background-color: hsl(50, 98%, 46%);
    padding: 10px;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;


    &:hover {
        opacity: 0.5;
    }

}